*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: black;
}

body{
 background: #ffffff;
background: radial-gradient(circle,rgba(255, 255, 255, 1) 0%, rgba(138, 135, 135, 1) 0%, rgba(242, 242, 242, 1) 100%);
}



.training-section h1{
   text-align: center;
   color: white;
   padding: 20px 0;
}

.container{
    width: 1170px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.training-section{
    margin: 100px 0;
}

.training-items{
    flex-basis: 23%;
    margin: 10px 0;
    box-shadow: 0px 0px 10px 3px lightgray;
    background-color: white;
    text-align: center;
    padding: 20px 0;
    border-radius: 9px;

}

.training-items:hover{
    background-color: blue;
    color: white;
  
}

.training-items h3{
    padding: 10px 0;
}

.training-items:hover h3{
    color: #ffffff;
}

.training-items:hover  p{
    color: #ffffff;
}



.training-items p{
   font-size: 14px;
   padding: 10px;
   color: black;
}


.training-items img{
    width: 50px;
}

.training-items button{
    border: none;
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    margin: 10px 0;
}

.training-items:hover button{
   background-color: white;
   color: blue;
}

@media only screen and (min-width:200px) and (max-width:767px) {
    .container{
        width: 100%;
        flex-direction: column;
    }

    .training-items{
        margin: 10px;
    }
}